*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}
ul,ol,menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.flex{
    display: flex;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.container-small{

}

.button{
    border-radius: 24px;
    padding: 5px 10px;
}

/* nav bar */
nav{
    background-color: #0084FD;
    font-size: 14px;
    padding: 5px 10px;
}
.main-nav{
    justify-content: space-between;
    align-items: center;
}
.main-nav ul{
    display: flex;
    gap: 20px;
}

.nav-button{
    background-color: white;
    color: black;
}

.fa-bars{
    display: none;

}
/******************************************************
 RESPONSIVE NAV  
 ******************************************************/
@media screen and (max-width: 768px) {
    .main-nav ul{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 1.5rem;
        color: white;
    }
}


/*FEATUERES SECTION  */
.features{
    padding: 50px 0 100px 0;
}
.row{
    gap: 1.5rem;
    flex-wrap: wrap;
}
.row .phone-col{
    flex-basis:  calc(100% / 2 + 100px);
}

.col{
    flex-grow: 1;
    flex-basis: calc(100% / 4);
}
.card{
    background-color: #B5DDFF;
    border-radius: 15px;
    font-size: 10px;
}
.card p {
    font-size: 12px;
    line-height: 2;
}
.phone-text{
    flex-direction: column;
    gap: 30px;
    flex-basis: 50%;
    padding: 20px;
}
.phone-img{
    flex-basis: 44%;
    align-self: flex-end;
    padding: 50px;
    padding-bottom: 0px;
}
.card h4{
    color: #0084FD;
    font-size: 14px;
}
.blue-button{
    background-color: #0084FD;
    padding: 10px 30px;
    font-size: 14px;
}

.blue-button i {
    padding-right: 6px;
}

.text__card{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
}
.text__card i {
    color: #0084FD;
    font-size: 8em;
}
.text__card p {
    line-height: 2;
}

/* mobile flex basis 100%, desktop flax basis 0 */